<!--<div class="text">
  <div class="metadata">
    <%= form_for @language do |f| %>
        <dl>
          <%= form_line f, :designation, 'text_field' %>
          <%= form_line f, :location, 'text_field' %>
          <%= form_line f, :iso, 'text_field' %>
          <%= form_line f, :status, 'text_field' %>
          <%= form_line f, :orthographies, 'text_field' %>
          <%= form_line f, :macro_classification, 'text_field' %>
          <%= form_line f, :glottocode, 'text_field' %>
          <%= form_line f, :latitude, 'text_field' %>
          <%= form_line f, :longitude, 'text_field' %>
        </dl>
        <%= submit_tag("Update") %>
    <% end %>
  </div>
</div>-->