<section id="carousel" class="carousel">
  <header>
    <h2>Source Texts</h2>
  </header>
  <div class="reel">
    <% @texts.each do |text| %>
        <article>
          <a href="/texts/<%= text.id %>" class="image featured">
            <img src="/img/texts/<%= text.id %>/cover-medium.jpg" alt="cover of <%= text.title %>"/>
          </a>
          <header>
            <h3><a href="/texts/<%= text.id %>"><%= text.title %></a></h3>
          </header>
        </article>
    <% end %>
  </div>
</section>
