<h2>Edit</h2>

<h3>Texts</h3>
<ul>
  <li><%= link_to "Texts", :texts %></li>
  <li><%= link_to "Authors", controller: "authors", action: "index" %></li>
  <li><%= link_to "Categories", controller: "text_categories", action: "index" %></li>
  <li><%= link_to "Missionary groups", controller: "missionary_groups", action: "index" %></li>
  <li><%= link_to "Publishers", controller: "publishers", action: "index" %></li>
</ul>

<h3>Languages</h3>
<ul>
  <li><%= link_to "Languages", :languages %></li>
  <li><%= link_to "Orthographies", controller: "orthographies", action: "index" %>
</ul>